<div class="jumbotron">
	<div class="container">

	  <div class="col-md-8">
	  	<h1>The online software simple and intuitive for data visualization.</h1>
				<h3>
					Create and share high visual quality dashboards, <br>reports and data presentation in minutes.
				</h3>
				<p class="price">
					<span class="label label-primary">Upgrade plan only $7,99/mo.</span>
				</p>
	  </div>

	  <div class="col-md-4 pull-left">
	  	<div class="panel panel-default">
	  		<div class="panel-body">
		      	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		        <%= devise_error_messages! %>

		        <div class="form-group">
		          <%= f.text_field :name, autofocus: true, placeholder: 'Your name', class: "form-control input-lg" %>
		        </div>

		        <div class="form-group">
		          <%= f.email_field :email, placeholder: 'Your email', class: "form-control input-lg" %>
		        </div>

		        <div class="form-group">		        
		          <%= f.password_field :password, placeholder: 'Create a password', class: "form-control input-lg" %>
		        </div>

		        <div class="form-group" style ="margin:0px;">
		          <%= f.submit "Get Started for Free", class: "btn btn-primary btn-lg btn-block" %>
		        </div>
      			<% end %>
    		</div>
    			<p class= "small">
					*no credit card required 
				</p>
    	</div>
	 	</div>
	</div>
</div>


<div class="container">


	<h2>Create beautiful and elegant visualizations <br>in only <span class="highligh"> three easy steps</span></h2>

	<div class="col-md-4">
		<div class="panel panel-default">
  		<div class="panel-body">
				<span class="highligh" style ="font-weight:bold; font-size:30px;">1</span> Create your data using a simple spreadsheet
			</div>
		</div>
	</div>


	<div class="col-md-4">
		<div class="panel panel-default">
  		<div class="panel-body">
				<span class="highligh" style ="font-weight:bold; font-size:30px;">2</span> Select from a wide variety of visualizations 
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<span class="highligh"style ="font-weight:bold; font-size:30px";>3</span> Share results with your client, boss or team
			</div>
		</div>
	</div>
</div>

<hr>

<div class="container">
asdsadsadasdsad
</div>